* {
	padding: 0;
	text-decoration: none;
	list-style: none;
}
html {
	scroll-behavior: smooth;
}
@font-face {
	font-family: 'spartan';
	src: url(../fonts/leaguespartan-bold.ttf);
}
body{
	max-width: 1084px;
	margin: auto;
	font-family: 'Poppins', sans-serif;
	font-family: 'Playfair Display', serif;
}
nav	{
	z-index: 1;

}
header {
	margin-top: 30px;
	width: 780px;
	height: 50px;

}

header .list {
	width: 400px;
	font-size: 9px;
	font-weight: bold;
	text-transform: uppercase;
	display: flex;
	justify-content: space-between;
	position: relative;
	bottom: 32px;
	left: 150px;
	
}
.list a {
	font-family: spartan;
	color: #707070;
	letter-spacing: 5px;
	z-index: 1;
}
.list a:hover {
	color: #5DA8EF;
	transition: 300ms;
}
.lines {
	z-index: -1;
	position: relative;

}
.line1 {
	width: 1px;
	height: 5251px;
	border-left: 1px solid #707070;
	position: absolute;
	left: 0px;
	top: -90px;
	opacity: 0.3;
}
.line2 {
	width: 1px;
	height: 5251px;
	border-left: 1px solid #707070;
	position: absolute;
	left: 250px;
	top: -90px;
	opacity: 0.3;
}
.line3 {
	width: 1px;
	height: 5251px;
	border-left: 1px solid #707070;
	position: absolute;
	left: 550px;
	top: -90px;
	opacity: 0.3;
}
.line4 {
	width: 1px;
	height: 5251px;
	border-left: 1px solid #707070;
	position: absolute;
	left: 820px;
	top: -90px;
	opacity: 0.3;
}
.line5 {
	width: 1px;
	height: 5251px;
	border-left: 1px solid #707070;
	position: absolute;
	left: 1085px;
	top: -90px;
	opacity: 0.3;
}
.content-image {
	position: relative;
	width: 900px;
	top: 30px;
	left: 185px;
	z-index: 0;

}
.content-text {
position: relative;
bottom: 380px;
left: 0px;
}
.your {
	position: relative;
	top: 40px;
	color: #5DA8EF;
	text-transform: uppercase;
	font-size: 9px;
	font-weight: normal;
	font-family: spartan;
	letter-spacing: 3px;
}
h1{
	font-size: 55px;
	font-family: Playfair Display;
	font-weight: normal;
}
.text {
	position: relative;
	bottom: 20px;
	width: 391px;
	height: 95px;
	line-height: 20px;
	font-family: poppins;
	font-size: 14px;
	color: #8F8F8F;

}
.surfing {
 width: 370px;
 color: #A0A1AA;
 font-family: spartan;
 font-size: 13px;
 text-transform: uppercase;
 font-weight: normal;
 letter-spacing: 8px;
 transform: rotate(-90deg);
 position: relative;
 bottom: 750px;
 left: 930px;
 opacity: 0.4;

}
.logos{
	position: relative;
	bottom: 500px;
	left: 1108px;
	width: 20px;
	height: 120px;
}
svg {
	padding-top: 15px;
	cursor: pointer;
}
.five {
	letter-spacing: 4px;
}
.scroll {
	cursor: pointer;
	width: 90px;
	position: relative;
	top: 90px;
}
.Surfing p {
	position: relative;
	bottom: 360px;
	left: 180px;
	font-family: poppins;
	font-weight: normal;
	font-size: 24px;
	color: black;
	text-align: center;
	width: 724px;
	line-height: 45px;

}
.Surfing span{
	font-family: spartan;
	font-size: 10px;
	letter-spacing: 3px;
	color: #707070;
	position: relative;
	left: 480px;
	bottom: 350px;
	opacity: 0.5;
}
.blueline {
	width: 0px;
	height: 100px;
	border: 1px solid #5DA8EF;
	position: relative;
	left: 549.5px;
	bottom: 280px;
}
.imgcontent {
	position: relative;
	bottom: 150px;
	height: 550px;
}
.better {
	width: 345px;
	height: 83px;
	font-family: poppins;
	font-size: 14px;
	color: #616161;
	opacity: 0.6;
	position: relative;
	left: 100px;
	top: 40px;
	line-height: 25px;

}
.readmore {
	font-family: spartan;
	font-weight: 200;
	font-size: 9px;
	height: 20px;
	width: 92px;
	display: flex;
	text-align: center;
	color: black;
	letter-spacing: 4px;
	text-transform: uppercase;  
	border-bottom: 1.5px solid #5DA8EF; 
	position: relative;
	left: 100px;
	top: 40px;
}
.surfer {
	overflow-x: hidden;
	position: relative;
	left: 485px;
	bottom: 480px;
}
.playbutton {
	position: relative;
	bottom: 670px;
	left: 120px;
	cursor: pointer;
}
.hero-boards {
	width: 1440px;
	position: relative;
	right: 180px;

}
.shop {
	font-size: 9px;
	font-family: spartan;
	letter-spacing: 4px;
	color: #5DA8EF;
	position: relative;
	left: 49%;
}
h2 {
	font-size: 42px;
	font-family: Playfair display;
	font-weight: bold;
	position: relative;
	left: 41%;
	bottom: 20px;


}
.bboards {
	position: relative;
	bottom: 130px;
}
.firstb{
	position: relative;
	left: 146px;
	width: 400px;
}
.secondb {
position: relative;
left: 130px;
width: 400px;
}
.thirdb {
	position: relative;
	left: 120px;
	width: 400px;
}
.showall {
	font-family: spartan;
	font-size: 9px;
	text-transform: uppercase;
	position: relative;
	left: 680px;
	bottom: 100px;
	letter-spacing: 4px;
	word-spacing: 5px;
	border-bottom: 1.5px solid #5DA8EF;
	width: 88px;
}
.straining {
	font-size: 42px;
	font-family: Playfair Display;
	font-weight: bold;
	padding-left: 25px;
	position: relative;
	bottom: 400px;

}
.straining::first-letter {
	border-bottom: 2px solid #5DA8EF;
}
.training-text {
	width: 345px;
	font-family: poppins;
	font-size: 14px;
	color: #707070;
	line-height: 25px;
	padding-left: 25px;
	position: relative;
	bottom: 400px;
}
.readmore2 {
	font-family: spartan;
	font-weight: 200;
	font-size: 9px;
	height: 20px;
	width: 92px;
	display: flex;
	text-align: center;
	color: black;
	letter-spacing: 4px;
	text-transform: uppercase;  
	border-bottom: 1.5px solid #5DA8EF; 
	position: relative;
	left: 25px;
	bottom: 380px;
}
.straining::before {
	content: url(../images/01.png);
	position: absolute;
	top: -120px;
	z-index: -1
}
.imgbase {
	position: relative;
	left: 385px;
	width: 700px;
}
.surfcamps {
	font-family: spartan;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 16px;
	color: #707070;
	opacity: 0.2;
	letter-spacing: 3px;
	word-spacing: 6px;
	transform: rotate(-90deg);
	position: relative;
	left: 570px;
	bottom: 1070px;
}
.point {
	position: relative;
	left: 180px;
	bottom: 180px;
}
.break {
	font-size: 42px;
	font-family: Playfair Display;
	font-weight: bold;
	padding-left: 25px;
	position: relative;
	bottom: 600px;
	left: 700px;
}
.break::first-letter {
	border-bottom: 2px solid #5DA8EF;
}
.breaktext {
	width: 345px;
	font-family: poppins;
	font-size: 14px;
	color: #707070;
	line-height: 25px;
	padding-left: 25px;
	position: relative;
	bottom: 580px;
	left: 700px;
}
.readmore3 {
	font-family: spartan;
	font-weight: 200;
	font-size: 9px;
	height: 20px;
	width: 92px;
	display: flex;
	text-align: center;
	color: black;
	letter-spacing: 4px;
	text-transform: uppercase;  
	border-bottom: 1.5px solid #5DA8EF; 
	position: relative;
	left: 25px;
	bottom: 550px;
	left: 730px;
}