* {
	padding: 0;
	text-decoration: none;
	list-style: none;
}
html {
	scroll-behavior: smooth;
}
@font-face {
	font-family: 'spartan';
	src: url(../fonts/leaguespartan-bold.ttf);
}
body{
	max-width: 1084px;
	margin: auto;
	font-family: 'Poppins', sans-serif;
	font-family: 'Playfair Display', serif;
}
nav	{
	z-index: 1;

}
header {
	margin-top: 30px;
	width: 780px;
	height: 50px;

}

header .list {
	width: 400px;
	font-size: 9px;
	font-weight: bold;
	text-transform: uppercase;
	display: flex;
	justify-content: space-between;
	position: relative;
	bottom: 32px;
	left: 150px;
	
}
.list a {
	font-family: spartan;
	color: #707070;
	letter-spacing: 5px;
	z-index: 1;
}
.list a:hover {
	color: #5DA8EF;
	transition: 300ms;
}
.lines {
	z-index: -1;
	position: relative;

}
.line1 {
	width: 1px;
	height: 5251px;
	border-left: 1px solid #707070;
	position: absolute;
	left: 0px;
	top: -90px;
	opacity: 0.3;
}
.line2 {
	width: 1px;
	height: 5251px;
	border-left: 1px solid #707070;
	position: absolute;
	left: 250px;
	top: -90px;
	opacity: 0.3;
}
.line3 {
	width: 1px;
	height: 5251px;
	border-left: 1px solid #707070;
	position: absolute;
	left: 550px;
	top: -90px;
	opacity: 0.3;
}
.line4 {
	width: 1px;
	height: 5251px;
	border-left: 1px solid #707070;
	position: absolute;
	left: 820px;
	top: -90px;
	opacity: 0.3;
}
.line5 {
	width: 1px;
	height: 5251px;
	border-left: 1px solid #707070;
	position: absolute;
	left: 1085px;
	top: -90px;
	opacity: 0.3;
}
.content-image {
	position: relative;
	width: 900px;
	top: 30px;
	left: 185px;
	z-index: 0;

}
.content-text {
position: relative;
bottom: 380px;
left: 0px;
}
.your {
	position: relative;
	top: 40px;
	color: #5DA8EF;
	text-transform: uppercase;
	font-size: 9px;
	font-weight: normal;
	font-family: spartan;
	letter-spacing: 3px;
}
h1{
	font-size: 55px;
	font-family: Playfair Display;
	font-weight: normal;
}
.text {
	position: relative;
	bottom: 20px;
	width: 391px;
	height: 95px;
	line-height: 20px;
	font-family: poppins;
	font-size: 14px;
	color: #8F8F8F;

}
.surfing {
 width: 370px;
 color: #A0A1AA;
 font-family: spartan;
 font-size: 13px;
 font-weight: normal;
 letter-spacing: 8px;
 transform: rotate(-90deg);
 position: relative;
 bottom: 800px;
 left: 930px;
 opacity: 0.4;

}
.logos{
	position: relative;
	bottom: 600px;
	left: 1108px;
	width: 20px;
	height: 120px;
}
svg {
	padding-top: 15px;
	cursor: pointer;
}
.five {
	letter-spacing: 4px;
}
.scroll {
	cursor: pointer;
	width: 90px;
	position: relative;
	top: 90px;
}
.Surfing p {
	position: relative;
	bottom: 360px;
	left: 180px;
	font-family: poppins;
	font-weight: normal;
	font-size: 24px;
	color: black;
	text-align: center;
	width: 724px;
	line-height: 45px;

}
.Surfing span{
	font-family: spartan;
	font-size: 10px;
	letter-spacing: 3px;
	color: #707070;
	position: relative;
	left: 480px;
	bottom: 350px;
	opacity: 0.5;
}
